
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/Content/Designs/LoginDesign.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->
<script src="https://cdn.j~/Content/font-awesome-4.7.0/css/font-awesome.min.cssm n.js"></script>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src=~/Content/Images/User-01.svg id="icon" alt="User Icon" />
        </div>
        <!-- Login Form -->
        <div>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Nombre de usuario">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
            <input type="submit" class="btn btn-primary" value="Iniciar Sesión">
        </div>
        <!-- Remind Passowrd -->
        <div id="formFooter">

        </div>
    </div>
</div>