@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1 class="display-4">Bienvenido Administrador del Sistema </h1>
    <p class="lead">Secretaría de Programación, Planeación y Presupuesto.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mantén el control de los usuarios</h2>
        <p>
            Cree los usuarios correspondientes que usarán dicho sistema. Realice los cambios en los usuarios que sean necesarios.
        </p>
        <p><a class="btn btn-default" href="">Ir a Control de Usuarios &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Listado de encuestas</h2>
        <p>Visualiza las encuestas realizadas ó crea las encuestas de las comisiones.</p>
        <p><a class="btn btn-default" href="">Ir a Encuestas &raquo;</a></p>
    </div>
</div>